data/.phpunit.cache
data/node_modules
www/build
www/hot
www/storage
www/assets
data/storage/*.key
data/storage/pail
data/config/gemini.php
data/vendor
data/.env
data/.env.backup
data/.env.production
data/.phpactor.json
data/.phpunit.result.cache
data/composer.lock
data/package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.htaccess
