@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-mainDark: #283141;
    --color-mainLight: #f0f1f3;
    --color-green: #1B7E71;
    --color-red: #B1395D;
    --color-purple: #665fb3;
    --color-blue: #4271B3;
    --color-pinkish: #992665;

}

@layer base {
    h1 {
        @apply text-red text-2xl font-bold my-auto text-shadow-lg text-shadow-purple/15;
    }
    h2 {
        @apply text-6xl text-mainLight;
    }
    h3 {
        @apply text-3xl text-mainLight;
    }
}