@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-mainDark: #322d3a;
    --color-mainLight: #f9eaff;
    --color-green-1: #3fedcf;
    --color-green-2: #00b499;
    --color-notice: #56ba9a;
}