@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'open-sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-mainDark: #110c1e;
    --color-mainLight: #eceaef;
    --color-green: #0F7162;
    --color-red: #99174a;
    --color-purple: #665fb3;
    --color-grey: #34303F;
    --color-lightGrey: #E4E1E8;
    
    --animate-scroll: scroll 30s linear infinite;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%) }
}

@layer base {
    :root {
        --waves-bg: url('/images/light-waves.svg');
    }
    .dark {
        --waves-bg: url('/images/dark-waves.svg');
    }
    .paused { 
        animation-play-state: paused !important; 
    }
    .running { 
        animation-play-state: running !important; 
    }
    h1 {
        @apply text-red text-3xl font-bold text-shadow-xs text-shadow-black/90 my-auto;
    }
    h2 {
        @apply text-5xl lg:text-6xl;
    }
    h3 {
        @apply text-3xl pb-4;
    }

    /* Maintain background color when autofill is used */
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-text-fill-color: #110c1e;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 0px 1000px rgba(255, 255, 255, 0.4);
    }

    .dark input:-webkit-autofill,
    .dark input:-webkit-autofill:hover, 
    .dark input:-webkit-autofill:focus, 
    .dark input:-webkit-autofill:active{
        -webkit-text-fill-color: #eceaef;
        box-shadow: inset 0 0 0px 1000px rgba(255, 255, 255, 0.15);
    }
}