@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'open-sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-mainDark: #110c1e;
    --color-mainLight: #e3e1e8;
    --color-green: #1B7E71;
    --color-red: #901948;
    --color-purple: #665fb3;
    --color-blue: #4271B3;
    --color-pinkish: #992665;
    
    --animate-scroll: scroll 25s linear infinite;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% {transform: translateX(-100%)}
}

@layer base {
    :root {
        --waves-bg: url('/images/light-waves.svg');
    }
    .dark {
        --waves-bg: url('/images/dark-waves.svg');
    }
    h1 {
        @apply text-red text-2xl font-bold text-shadow-xs text-shadow-black/90 my-auto;
    }
    h2 {
        @apply text-6xl;
    }
    h3 {
        @apply text-3xl pb-4;
    }
}