@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'open-sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-mainDark: #110c1e;
    --color-mainLight: #eceaef;
    --color-green: #0F7162;
    --color-red: #99174a;
    --color-purple: #665fb3;
    --color-grey: #34303F;
    --color-lightGrey: #E4E1E8;
    
    --animate-scroll: scroll 30s linear infinite;
    --animate-wave: wave 25s ease-in-out infinite;
    --animate-wave2: wave2 18s ease-in-out infinite;
    --animate-wave3: wave3 12s ease-in-out infinite;
    --animate-sideWave: sideWave 18s ease-in-out infinite;
    --animate-sideWave2: sideWave2 22s ease-in-out infinite;
    --animate-sideWave3: sideWave 30s ease-in-out infinite;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%) }
}

@keyframes wave {
    0% { transform: translateY(0); }
    50% { transform: translateY(7%) }
    100% { transform: translateY(0) }
}

@keyframes wave2 {
    0% { transform: translateY(0); }
    50% { transform: translateY(4%) }
    100% { transform: translateY(0) }
}

@keyframes wave3 {
    0% { transform: translateY(0); }
    50% { transform: translateY(2%) }
    100% { transform: translateY(0) }
}

@keyframes sideWave {
    0% { transform: translateX(0); }
    50% { transform: translateX(4%) }
    100% { transform: translateX(0); }
}

@keyframes sideWave2 {
    0% { transform: translateX(0); }
    50% { transform: translateX(-3%) }
    100% { transform: translateX(0); }
}



@layer base {
    .paused { 
        animation-play-state: paused !important; 
    }
    .running { 
        animation-play-state: running !important; 
    }
    .print-color {
        -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
    }
    h1 {
        @apply text-[#C21D5E] text-3xl font-bold not-print:text-shadow-xs text-shadow-black/90 my-auto;
    }
    h2 {
        @apply text-5xl lg:text-6xl print:text-3xl;
    }
    h3 {
        @apply text-3xl not-print:pb-4 print:text-2xl;
    }

    /* Maintain background color when autofill is used */
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-text-fill-color: #110c1e;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 0px 1000px rgba(255, 255, 255, 0.4);
    }

    .dark input:-webkit-autofill,
    .dark input:-webkit-autofill:hover, 
    .dark input:-webkit-autofill:focus, 
    .dark input:-webkit-autofill:active{
        -webkit-text-fill-color: #eceaef;
        box-shadow: inset 0 0 0px 1000px rgba(255, 255, 255, 0.15);
    }
}